[Desktop Entry]
Type=Application
Name=Defold
Comment=Defold is a completely free to use game engine for development of desktop, mobile and web games.
Exec=outpath/Defold
Path=outpath
Icon=defold
Terminal=false
Categories=Development;Utility;
